body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #42475f;
}

#sign-form {
  width: 100%;
  text-align: center;
}

p {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.mui-btn {
  text-transform: none;
}

.center {
  position: absolute;
  width: 100%;
  max-width: 350px;
  height: 30%;
  left: calc(50% - 175px);
  top: 35%;
}

.button-file {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, .87);
  background-color: #FFF;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  height: 36px;
  padding: 0 26px;
  margin: 6px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  font-family: inherit;
  letter-spacing: .03em;
  position: relative;
}

.btn-margin {
  margin-right: 10px !important;
}

.btn2 {
  background-color: #42475f;
  color: #fff;
  border: 1px solid #fff;
}

.button-file input {
  position: absolute;
  display: block;
  cursor: pointer;
  left: 0;
  top: 0;
  opacity: 0;
  font-size: 100px;
}

.lds-dual-ring {
  display: inline-block;
}

#loader {
  display: none;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .center {
    left: auto;
  }

}